
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a href="https://udearroba.udea.edu.co/" 
                  class="font-weight-bold ml-1" target="_blank">UdeA</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              &copy; <a target="_blank" 
                        href="https://www.udea.edu.co/wps/portal/udea/web/inicio/investigacion/areas-investigacion/inicio-fichas/fichas/facultad-medicina/gruneco/!ut/p/z1/zVRdd5owGP4r9WKXnIQEES4pMKzlQ2ydws1OmgTNJsFitNt-_eLWtY622p7uYtyEl_czz_O8gBLMQSnJTiyIEo0kK20Xpf05zfuhiXwYO0nsQG0kudsfRn5sgtmvAMf1kelZMIaXZh96eThOrzN_HIwQKA_zs4-mDfPgcpL6WRTFE_s-H77wePB1-UcCyuPzfwIlKKlUa7UExbppFVltGScfINn8bS2bmv9-F3LHN0pjREWP4t4NltrfcrI5Y_zsOWcl6JJsjANX8_BVn4RuV4owo-ZMUCF1h0W7lZw2-9HWVDBQMFRVFbaZcUNMZFgDFxqEItfAlFrcIRYjlHWheHrX8jjSs32_QzKzINNk2kE4vDYxzl14PMA30X3AIx0XOIS5m_bHOLpA1gB3Kzyjl1NjFvqag5cYxxCD2U7wOzCVTVtrBV-9EcXhqQ4OemeHTvkOT8E_Lt-ZPnovPqNTG6V_GahN_GShyxK11LKvGjB_onIw_6NynSC-3N6Wnl7ERir-TYH5_7aJ63o6ndYO_m58nYRVEmKrGO1-nKfG_oiHq4XX6_0E0WXkPg!!/dz/d5/L2dBISEvZ0FBIS9nQSEh/?urile=wcm:path:/PortalUdeA/asPortalUdeA/asHomeUdeA/Investigaci%2521c3%2521b3n/Areas%2Bde%2BInvestigaci%2521c3%2521b3n/fichas-investigacion/fichas/facultad-medicina/gruneco">Gruneco</a> 
              - programado por <a target="_blank" href="https://github.com/JPDevOpti">JpDevOpti</a> y <a target="_blank" href="https://github.com/lasilvi">lasilvi</a>
            </div>
          </div>
        </div>
      </footer>


