<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          <a target="_blank" 
             href="https://udearroba.udea.edu.co/" 
             class="font-weight-bold ml-1" target="_blank">UdeA</a>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="text-center text-xl-right text-muted">
          &copy; <a target="_blank" 
                    href="https://bit.ly/3fKQZaL">Gruneco</a> 
          - programado por <a target="_blank" href="https://github.com/JPDevOpti">JpDevOpti</a> y <a target="_blank" href="https://github.com/lasilvi">lasilvi</a>
        </div>
      </div>
    </div>
  </div>
</footer>