{% extends 'layouts/base_theme.html' %}

{% block stylesheets %}
<style>
  .form-control-lg {
    font-size: 1.25rem;
  }
  .input-group-text-lg {
    font-size: 1.25rem;
  }
  .btn-lg {
    font-size: 1.25rem;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container mt--16  pt-7 pb-5">
  <div class="row justify-content-center">
    <div class="row">
        <div div class="row justify-content-center">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Apuesta <span class="text-body-secondary">estratégica.</span></h2>
                    <p class="lead">Somos un grupo interdisciplinar de investigación, perteneciente a la Facultad de Medicina de la Universidad de Antioquia, 
                        que a través de la estructuración y ejecución de proyectos de investigación formamos talento humano en investigación en los niveles de pre 
                        y posgrado, al igual que contribuimos a la generación de conocimiento enfocado en soluciones clínicas y tecnológicas en el área de las neurociencias 
                        cognitivas.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <image href="/static/assets/img/theme/GGRUNECO.jpeg" width="100%" height="100%" />
                      </svg>
                      
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-7">
        <div class="col-lg-4 justify-content-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                <image href="/static/assets/img/theme/imagen_2.png" width="100%" height="100%" />
            </svg>
            <h2 class="fw-normal">Carlos Andrés Tobón Quintero, MD, PhD</h2>
            <p>Coordinador(a) del Grupo</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 justify-content-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <h2 class="fw-normal">Heading</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 justify-content-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <h2 class="fw-normal">Heading</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
        </div><!-- /.col-lg-4 -->
    </div>
  </div>
</div>
{% endblock content %}