{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Examen de Anamnesis</h3>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}

            <!-- Motivo de consulta -->
            <h6 class="heading-small text-muted mb-4">Motivo de consulta</h6>
            <div class="form-group">
              {{ form.motivo_consulta.label_tag }}
              {{ form.motivo_consulta }}
            </div>

            <!-- Enfermedad Actual -->
            <h6 class="heading-small text-muted mb-4">Enfermedad actual</h6>
            <div class="form-group">
              {{ form.enfermedad_actual.label_tag }}
              {{ form.enfermedad_actual }}
            </div>

            <!-- Quejas de Sueño -->
            <h6 class="heading-small text-muted mb-4">Quejas de sueño</h6>
            <div class="form-group">
              {{ form.quejas_sueno.label_tag }}
              {{ form.quejas_sueno }}
            </div>

            <!-- Preguntas de Sí/No -->
            <h6 class="heading-small text-muted mb-4">Síntomas relacionados con el sueño</h6>
            <div class="row">
              <div class="col-lg-6">
                {{ form.dificultad_conciliacion.label_tag }}
                {{ form.dificultad_conciliacion }}
                <!-- Campos adicionales -->
            <div id="detalle_sintomas" style="display: none;">
              <h6 class="heading-small text-muted mb-4">Detalles adicionales</h6>
              <div class="row">
                <div class="col-lg-6">
                  {{ form.inicio.label_tag }}
                  {{ form.inicio }}
                </div>
                <div class="col-lg-6">
                  {{ form.evolucion.label_tag }}
                  {{ form.evolucion }}
                </div>
                <div class="col-lg-6">
                  {{ form.frecuencia_semana.label_tag }}
                  {{ form.frecuencia_semana }}
                </div>
                <div class="col-lg-6">
                  {{ form.gravedad.label_tag }}
                  {{ form.gravedad }}
                </div>
              </div>
            </div>
              </div>
              <div class="col-lg-6">
                {{ form.dificultad_mantenimiento.label_tag }}
                {{ form.dificultad_mantenimiento }}
                <!-- Campos adicionales -->
            <div id="detalle_sintomas" style="display: none;">
              <h6 class="heading-small text-muted mb-4">Detalles adicionales</h6>
              <div class="row">
                <div class="col-lg-6">
                  {{ form.inicio.label_tag }}
                  {{ form.inicio }}
                </div>
                <div class="col-lg-6">
                  {{ form.evolucion.label_tag }}
                  {{ form.evolucion }}
                </div>
                <div class="col-lg-6">
                  {{ form.frecuencia_semana.label_tag }}
                  {{ form.frecuencia_semana }}
                </div>
                <div class="col-lg-6">
                  {{ form.gravedad.label_tag }}
                  {{ form.gravedad }}
                </div>
              </div>
            </div>
              </div>
              <div class="col-lg-6">
                {{ form.apnea.label_tag }}
                {{ form.apnea }}
                <!-- Campos adicionales -->
            <div id="detalle_sintomas" style="display: none;">
              <h6 class="heading-small text-muted mb-4">Detalles adicionales</h6>
              <div class="row">
                <div class="col-lg-6">
                  {{ form.inicio.label_tag }}
                  {{ form.inicio }}
                </div>
                <div class="col-lg-6">
                  {{ form.evolucion.label_tag }}
                  {{ form.evolucion }}
                </div>
                <div class="col-lg-6">
                  {{ form.frecuencia_semana.label_tag }}
                  {{ form.frecuencia_semana }}
                </div>
                <div class="col-lg-6">
                  {{ form.gravedad.label_tag }}
                  {{ form.gravedad }}
                </div>
              </div>
            </div>
              </div>
              <div class="col-lg-6">
                {{ form.ronquido.label_tag }}
                {{ form.ronquido }}
                <!-- Campos adicionales -->
            <div id="detalle_sintomas" style="display: none;">
              <h6 class="heading-small text-muted mb-4">Detalles adicionales</h6>
              <div class="row">
                <div class="col-lg-6">
                  {{ form.inicio.label_tag }}
                  {{ form.inicio }}
                </div>
                <div class="col-lg-6">
                  {{ form.evolucion.label_tag }}
                  {{ form.evolucion }}
                </div>
                <div class="col-lg-6">
                  {{ form.frecuencia_semana.label_tag }}
                  {{ form.frecuencia_semana }}
                </div>
                <div class="col-lg-6">
                  {{ form.gravedad.label_tag }}
                  {{ form.gravedad }}
                </div>
              </div>
            </div>
              </div>
              <div class="col-lg-6">
                {{ form.somnolencia_diurna.label_tag }}
                {{ form.somnolencia_diurna }}
                <!-- Campos adicionales -->
            <div id="detalle_sintomas" style="display: none;">
              <h6 class="heading-small text-muted mb-4">Detalles adicionales</h6>
              <div class="row">
                <div class="col-lg-6">
                  {{ form.inicio.label_tag }}
                  {{ form.inicio }}
                </div>
                <div class="col-lg-6">
                  {{ form.evolucion.label_tag }}
                  {{ form.evolucion }}
                </div>
                <div class="col-lg-6">
                  {{ form.frecuencia_semana.label_tag }}
                  {{ form.frecuencia_semana }}
                </div>
                <div class="col-lg-6">
                  {{ form.gravedad.label_tag }}
                  {{ form.gravedad }}
                </div>
              </div>
            </div>
              </div>
              <div class="col-lg-6">
                {{ form.hipersomnolencia.label_tag }}
                {{ form.hipersomnolencia }}
                <!-- Campos adicionales -->
            <div id="detalle_sintomas" style="display: none;">
              <h6 class="heading-small text-muted mb-4">Detalles adicionales</h6>
              <div class="row">
                <div class="col-lg-6">
                  {{ form.inicio.label_tag }}
                  {{ form.inicio }}
                </div>
                <div class="col-lg-6">
                  {{ form.evolucion.label_tag }}
                  {{ form.evolucion }}
                </div>
                <div class="col-lg-6">
                  {{ form.frecuencia_semana.label_tag }}
                  {{ form.frecuencia_semana }}
                </div>
                <div class="col-lg-6">
                  {{ form.gravedad.label_tag }}
                  {{ form.gravedad }}
                </div>
              </div>
            </div>
              </div>
            </div>

            

            <!-- Causa Conocida -->
            <h6 class="heading-small text-muted mb-4">Causa Conocida</h6>
            {{ form.causa_conocida.label_tag }}
            {{ form.causa_conocida }}

            <div id="causa_cual" style="display: none;">
              {{ form.causa_cual.label_tag }}
              {{ form.causa_cual }}
            </div>

            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let sintomas = ['dificultad_conciliacion', 'dificultad_mantenimiento', 'apnea', 'ronquido', 'somnolencia_diurna', 'hipersomnolencia'];
    sintomas.forEach(id => {
      document.getElementsByName(id).forEach(radio => {
        radio.addEventListener('change', () => {
          document.getElementById("detalle_sintomas").style.display = "block";
        });
      });
    });

    document.getElementsByName('causa_conocida').forEach(radio => {
      radio.addEventListener('change', () => {
        document.getElementById("causa_cual").style.display = radio.value === 'si' ? "block" : "none";
      });
    });
  });
</script>

{% endblock content %}
