{% extends 'layouts/base.html' %}
{% block title %}Medical Evaluation{% endblock title %}

{% block content %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Evaluación Medica</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"> <a class="nav-link {% if 'pacientForm' in segment %} active {% endif %}" href="/pacientForm.html">Pacientes</a></li>
              <li class="breadcrumb-item active" aria-current="page">Evaliación Medica</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Evaluación Medicaa</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Motivo de Consulta</label>
                    <textarea class="form-control" rows="3" placeholder="Describe el motivo de consulta"></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Descripción General</label>
                    <textarea class="form-control" rows="3" placeholder="Describe la situación en general"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Porte y Actitud</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="porte_actitud[]" value="colaborador" id="colaborador">
                            <label class="form-check-label" for="colaborador">Colaborador</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="porte_actitud[]" value="desinteresado" id="desinteresado">
                            <label class="form-check-label" for="desinteresado">Desinteresado</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="porte_actitud[]" value="hostil" id="hostil">
                            <label class="form-check-label" for="hostil">Hostil</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="porte_actitud[]" value="intrusivo" id="intrusivo">
                            <label class="form-check-label" for="intrusivo">Intrusivo</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="porte_actitud[]" value="evasivo" id="evasivo">
                            <label class="form-check-label" for="evasivo">Evasivo</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="porte_actitud[]" value="seductor" id="seductor">
                            <label class="form-check-label" for="seductor">Seductor</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="porte_actitud[]" value="suspicaz" id="suspicaz">
                            <label class="form-check-label" for="suspicaz">Suspicaz (cuestiona y sospecha de todo)</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="porte_actitud[]" value="hiperfamiliar" id="hiperfamiliar">
                            <label class="form-check-label" for="hiperfamiliar">Hiperfamiliar</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="porte_actitud[]" value="complaciente" id="complaciente">
                            <label class="form-check-label" for="complaciente">Complaciente</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="porte_actitud[]" value="pueril" id="pueril">
                            <label class="form-check-label" for="pueril">Pueril</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="porte_actitud[]" value="amable" id="amable">
                            <label class="form-check-label" for="amable">Amable</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="porte_actitud[]" value="agresivo" id="agresivo">
                            <label class="form-check-label" for="agresivo">Agresivo</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="porte_actitud[]" value="negativista" id="negativista">
                            <label class="form-check-label" for="negativista">Negativista</label>
                        </div>
                
                        <div class="form-group mt-2">
                            <label for="opcion_personalizada" class="form-control-label">Otra (especifica):</label>
                            <textarea class="form-control" rows="1" name="porte_actitud_otro" placeholder="Describe la situación en general"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    
                        <div class="form-group">
                            <label class="form-control-label">Estado de Alerta</label>
                            <!-- Opciones de Estado de Alerta como checkboxes -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="estado_alerta[]" value="alerta">
                                <label class="form-check-label">Alerta</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="estado_alerta[]" value="somnolencia">
                                <label class="form-check-label">Somnolencia</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="estado_alerta[]" value="estado_crepuscular">
                                <label class="form-check-label">Estado Crepuscular</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="estado_alerta[]" value="obnubilacion">
                                <label class="form-check-label">Obnubilación</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="estado_alerta[]" value="estupor">
                                <label class="form-check-label">Estupor</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="estado_alerta[]" value="coma">
                                <label class="form-check-label">Coma</label>
                            </div>
                        </div>
                        
                        <!-- Textarea para detalles adicionales -->
                        <div class="form-group">
                            <textarea class="form-control" name="estado_alerta_detalle" rows="3" placeholder="Especifica otros detalles si es necesario"></textarea>
                        </div>
                    </div>       
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Orientación</label>
                        <!-- Descripción de la orientación del paciente -->
                        <textarea class="form-control" name="orientacion" rows="3" placeholder="Describe la orientación del paciente"></textarea>
                    </div>
                    
                    <div class="form-group">
                        <!-- Opciones de Desorientación como checkboxes -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="desorientacion[]" value="temporal">
                            <label class="form-check-label">Desorientación Temporal</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="desorientacion[]" value="espacial">
                            <label class="form-check-label">Desorientación Espacial</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="desorientacion[]" value="persona">
                            <label class="form-check-label">Desorientación en Persona</label>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    aaaaaaaa
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Memoria</label>
                    <textarea class="form-control" rows="3" placeholder="Describe la memoria del paciente"></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Lenguaje</label>
                    <textarea class="form-control" rows="3" placeholder="Describe el lenguaje del paciente"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Pensamiento</label>
                    <textarea class="form-control" rows="3" placeholder="Describe el pensamiento del paciente"></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Sensopercepción</label>
                    <textarea class="form-control" rows="3" placeholder="Describe la sensopercepción del paciente"></textarea>
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Anamnesis</label>
                  <textarea class="form-control" rows="3" placeholder="Anamnesis"></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Executive Function / Behavior</label>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="irritability">
                    <label class="form-check-label">Irritability</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="aggression">
                    <label class="form-check-label">Aggression</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="delusions">
                    <label class="form-check-label">Delusions</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="hallucinations">
                    <label class="form-check-label">Hallucinations</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="apathy">
                    <label class="form-check-label">Apathy</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="planning_issues">
                    <label class="form-check-label">Difficulty Planning or Organizing</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="problem_solving">
                    <label class="form-check-label">Difficulty Solving Problems</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="rigidity">
                    <label class="form-check-label">Rigidity or Inflexibility in Decisions</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="working_memory">
                    <label class="form-check-label">Working Memory Issues</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="impulsivity">
                    <label class="form-check-label">Impulsivity and Disinhibition</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="hypersexuality">
                    <label class="form-check-label">Hypersexuality</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="empathy">
                    <label class="form-check-label">Empathy and Sympathy</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="gambling">
                    <label class="form-check-label">Gambling and Other Addictions</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="rituals">
                    <label class="form-check-label">Ritualistic or Compulsive Behaviors</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="perseverative">
                    <label class="form-check-label">Perseverative or Stereotyped Behaviors</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="echolalia">
                    <label class="form-check-label">Echolalia</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="hyperorality">
                    <label class="form-check-label">Hyperorality</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Mood / Affect</label>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="affective_tone">
                    <label class="form-check-label">Affective Tone</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="quality">
                    <label class="form-check-label">Quality: Depressive Feelings, Anxiety, Panic, Euphoria, Ecstasy, Irritability, Dysphoria</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="expansive_mood">
                    <label class="form-check-label">Expansive Mood</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="mania">
                    <label class="form-check-label">Mania</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="hypomania">
                    <label class="form-check-label">Hypomania</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="affective_expression">
                    <label class="form-check-label">Affective Expression: Reactivity, Flattening, Blunting, Paratimia, Emotional Lability, Affective Incontinence, Alexithymia</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="hedonic_tone">
                    <label class="form-check-label">Hedonic Tone: Hyperhedonia, Anhedonia</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="affective_resonance">
                    <label class="form-check-label">Affective Resonance</label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Appetite</label>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="eating_habits">
                    <label class="form-check-label">Changes in Eating Habits: Food Preferences, Binge Eating</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="appetite_changes">
                    <label class="form-check-label">Changes in Appetite</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="swallowing_issues">
                    <label class="form-check-label">Swallowing Difficulties</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="soft_diet">
                    <label class="form-check-label">Soft Diet</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="gastrostomy">
                    <label class="form-check-label">Gastrostomy Tube</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="aspiration">
                    <label class="form-check-label">Episodes of Aspiration</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="hyperphagia">
                    <label class="form-check-label">Hyperphagia</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="sweet_cravings">
                    <label class="form-check-label">Increased Intake of Sweets and Carbohydrates</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Motor Behavior</label>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="hyperactivity">
                    <label class="form-check-label">Hyperactivity</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="restlessness">
                    <label class="form-check-label">Restlessness</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="agitation">
                    <label class="form-check-label">Agitation</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="psychomotor_retardation">
                    <label class="form-check-label">Psychomotor Retardation</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="hypoactivity">
                    <label class="form-check-label">Hypoactivity</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="catatonia">
                    <label class="form-check-label">Catatonia</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="stereotypies">
                    <label class="form-check-label">Stereotypies and Mannerisms</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="mimicry_gesture">
                    <label class="form-check-label">Altered Mimicry and Gestures</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="ambitendence">
                    <label class="form-check-label">Ambitendence</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="perseveration">
                    <label class="form-check-label">Perseveration</label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Functionality</label>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="basic_adl">
                    <label class="form-check-label">Independence in Basic Activities of Daily Living: Eating, Bathing, Grooming, Dressing, Urination, Defecation</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="instrumental_adl">
                    <label class="form-check-label">Independence in Instrumental Activities of Daily Living: Phone Use, Shopping, Cooking, Housekeeping, Laundry, Transportation, Medication Management, Financial Affairs</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="urinary_incontinence">
                    <label class="form-check-label">Urinary Incontinence</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="fecal_incontinence">
                    <label class="form-check-label">Fecal Incontinence</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="gait_loss">
                    <label class="form-check-label">Loss of Gait</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="trunk_support_loss">
                    <label class="form-check-label">Loss of Trunk Support</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="head_support_loss">
                    <label class="form-check-label">Loss of Head Support</label>
                  </div>
            </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}
