{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Examen de Anamnesis</h3>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}

            <!-- Motivo de consulta -->
            <h6 class="heading-small text-muted mb-4">Motivo de consulta</h6>
            <div class="form-group">
              {{ form.motivo_consulta.label_tag }}
              {{ form.motivo_consulta }}
            </div>

            <!-- Enfermedad Actual -->
            <h6 class="heading-small text-muted mb-4">Enfermedad actual</h6>
            <div class="form-group">
              {{ form.enfermedad_actual.label_tag }}
              {{ form.enfermedad_actual }}
            </div>

            <!-- Quejas de Sueño -->
            <h6 class="heading-small text-muted mb-4">Quejas de sueño</h6>
            <div class="form-group">
              {{ form.quejas_sueno.label_tag }}
              {{ form.quejas_sueno }}
            </div>

            <!-- Preguntas de Sí/No -->
            <h6 class="heading-small text-muted mb-4">Síntomas relacionados con el sueño</h6>
            <div class="row">
              <div class="col-lg-6">
                {{ form.dificultad_conciliacion.label_tag }}
                {{ form.dificultad_conciliacion }}
                <!-- Campos adicionales -->
                <div id="detalle_sintomas1" style="display: none;">
                  <h6 class="heading-small text-muted mb-4">Detalles adicionales</h6>
                  <div class="row">
                    <div class="col-lg-6">
                      {{ form.inicio.label_tag }}
                      {{ form.inicio }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.evolucion.label_tag }}
                      {{ form.evolucion }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.frecuencia_semana.label_tag }}
                      {{ form.frecuencia_semana }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.gravedad.label_tag }}
                      {{ form.gravedad }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                {{ form.dificultad_mantenimiento.label_tag }}
                {{ form.dificultad_mantenimiento }}
                <!-- Campos adicionales -->
                <div id="detalle_sintomas2" style="display: none;">
                  <h6 class="heading-small text-muted mb-4">Detalles adicionales</h6>
                  <div class="row">
                    <div class="col-lg-6">
                      {{ form.inicio.label_tag }}
                      {{ form.inicio }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.evolucion.label_tag }}
                      {{ form.evolucion }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.frecuencia_semana.label_tag }}
                      {{ form.frecuencia_semana }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.gravedad.label_tag }}
                      {{ form.gravedad }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                {{ form.apnea.label_tag }}
                {{ form.apnea }}
                <!-- Campos adicionales -->
                <div id="detalle_sintomas3" style="display: none;">
                  <h6 class="heading-small text-muted mb-4">Detalles adicionales</h6>
                  <div class="row">
                    <div class="col-lg-6">
                      {{ form.inicio.label_tag }}
                      {{ form.inicio }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.evolucion.label_tag }}
                      {{ form.evolucion }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.frecuencia_semana.label_tag }}
                      {{ form.frecuencia_semana }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.gravedad.label_tag }}
                      {{ form.gravedad }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                {{ form.ronquido.label_tag }}
                {{ form.ronquido }}
                <!-- Campos adicionales -->
                <div id="detalle_sintomas4" style="display: none;">
                  <h6 class="heading-small text-muted mb-4">Detalles adicionales</h6>
                  <div class="row">
                    <div class="col-lg-6">
                      {{ form.inicio.label_tag }}
                      {{ form.inicio }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.evolucion.label_tag }}
                      {{ form.evolucion }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.frecuencia_semana.label_tag }}
                      {{ form.frecuencia_semana }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.gravedad.label_tag }}
                      {{ form.gravedad }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                {{ form.somnolencia_diurna.label_tag }}
                {{ form.somnolencia_diurna }}
                <!-- Campos adicionales -->
                <div id="detalle_sintomas5" style="display: none;">
                  <h6 class="heading-small text-muted mb-4">Detalles adicionales</h6>
                  <div class="row">
                    <div class="col-lg-6">
                      {{ form.inicio.label_tag }}
                      {{ form.inicio }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.evolucion.label_tag }}
                      {{ form.evolucion }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.frecuencia_semana.label_tag }}
                      {{ form.frecuencia_semana }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.gravedad.label_tag }}
                      {{ form.gravedad }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                {{ form.hipersomnolencia.label_tag }}
                {{ form.hipersomnolencia }}
                <!-- Campos adicionales -->
                <div id="detalle_sintomas6" style="display: none;">
                  <h6 class="heading-small text-muted mb-4">Detalles adicionales</h6>
                  <div class="row">
                    <div class="col-lg-6">
                      {{ form.inicio.label_tag }}
                      {{ form.inicio }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.evolucion.label_tag }}
                      {{ form.evolucion }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.frecuencia_semana.label_tag }}
                      {{ form.frecuencia_semana }}
                    </div>
                    <div class="col-lg-6">
                      {{ form.gravedad.label_tag }}
                      {{ form.gravedad }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Causa Conocida -->
            <h6 class="heading-small text-muted mb-4">Causa Conocida</h6>
            {{ form.causa_conocida.label_tag }}
            {{ form.causa_conocida }}

            <div id="causa_cual" style="display: none;">
              {{ form.causa_cual.label_tag }}
              {{ form.causa_cual }}
            </div>

            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Toggle detalles for each symptom
    let sintomas = [
      { name: 'dificultad_conciliacion', id: 'detalle_sintomas1' },
      { name: 'dificultad_mantenimiento', id: 'detalle_sintomas2' },
      { name: 'apnea', id: 'detalle_sintomas3' },
      { name: 'ronquido', id: 'detalle_sintomas4' },
      { name: 'somnolencia_diurna', id: 'detalle_sintomas5' },
      { name: 'hipersomnolencia', id: 'detalle_sintomas6' }
    ];

    sintomas.forEach(sintoma => {
      document.getElementsByName(sintoma.name).forEach(radio => {
        radio.addEventListener('change', () => {
          let detalleDiv = document.getElementById(sintoma.id);
          if (detalleDiv) {
            detalleDiv.style.display = radio.checked ? "block" : "none";
          }
        });
      });
    });

    // Toggle causa_cual field
    document.getElementsByName('causa_conocida').forEach(radio => {
      radio.addEventListener('change', () => {
        document.getElementById("causa_cual").style.display = radio.value === 'si' ? "block" : "none";
      });
    });
  });
</script>

{% block javascripts %}
<script>
  function calcularEdad() {
    // Obtener la fecha de nacimiento del campo de entrada
    const fechaNacimiento = document.getElementById('fecha_nacimiento').value;

    // Verificar si se ha seleccionado una fecha
    if (fechaNacimiento) {
      // Convertir la fecha de nacimiento a un objeto Date
      const fechaNac = new Date(fechaNacimiento);
      const hoy = new Date(); // Fecha actual

      // Calcular la diferencia en milisegundos
      const diferencia = hoy - fechaNac;

      // Convertir la diferencia a años
      const edad = Math.floor(diferencia / (1000 * 60 * 60 * 24 * 365.25));

      // Mostrar la edad en el campo correspondiente
      document.getElementById('edad').value = edad;
    } else {
      // Si no hay fecha, limpiar el campo de edad
      document.getElementById('edad').value = '';
    }
  }

  // Asignar el evento oninput al campo de fecha de nacimiento
  document.getElementById('fecha_nacimiento').addEventListener('input', calcularEdad);
</script>
{% endblock javascripts %}  
{% endblock content %}