{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-5">
          <h6 class="h2 text-white d-inline-block mb-0">Editar Paciente</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="/pacientes/">Pacientes</a></li>
              <li class="breadcrumb-item active" aria-current="page">Editar Paciente</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Formulario de Edición</h3>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}

            <!-- Información Personal -->
            <h6 class="heading-small text-muted mb-4">Información Personal</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-3">
                  <label>Primer Nombre</label>
                  {{ form.primer_nombre }}
                </div>
                <div class="col-lg-3">
                  <label>Segundo Nombre</label>
                  {{ form.segundo_nombre }}
                </div>
                <div class="col-lg-3">
                  <label>Primer Apellido</label>
                  {{ form.primer_apellido }}
                </div>
                <div class="col-lg-3">
                  <label>Segundo Apellido</label>
                  {{ form.segundo_apellido }}
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-lg-3">
                  <label>Tipo Documento</label>
                  {{ form.tipo_documento }}
                </div>
                <div class="col-lg-3">
                  <label>Número de Documento</label>
                  {{ form.numero_documento }}
                </div>
                <div class="col-lg-3">
                  <label>Fecha de Nacimiento</label>
                  {{ form.fecha_nacimiento }}
                </div>
                <div class="col-lg-3">
                  <label>Edad</label>
                  {{ form.edad }}
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-lg-3">
                  <label>Género</label>
                  {{ form.genero }}
                </div>
                <div class="col-lg-3">
                  <label>RH</label>
                  {{ form.rh }}
                </div>
                <div class="col-lg-3">
                  <label>Correo Electrónico</label>
                  {{ form.correo }}
                </div>
                <div class="col-lg-3">
                  <label>Celular</label>
                  {{ form.celular }}
                </div>
              </div>
            </div>

            <hr class="my-4" />

            <!-- Información del Acompañante -->
            <h6 class="heading-small text-muted mb-4">Datos del Acompañante</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <label>Nombre del Acompañante</label>
                  {{ form.nombre_acompanante }}
                </div>
                <div class="col-lg-4">
                  <label>Relación</label>
                  {{ form.relacion_acompanante }}
                </div>
                <div class="col-lg-4">
                  <label>Correo</label>
                  {{ form.correo_acompanante }}
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-lg-4">
                  <label>Teléfono</label>
                  {{ form.telefono_acompanante }}
                </div>
              </div>
            </div>

            <hr class="my-4" />

            <div class="text-right">
              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
              <a href="{% url 'tables.html' %}" class="btn btn-secondary">Cancelar</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}