<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Registro de pacientes</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Formulario de Evaluación</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'registro_demografico' %}">
            {% csrf_token %}

            <!-- Información Personal -->
            <h6 class="heading-small text-muted mb-4">Información Personal</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-3">
                  <label for="primer_nombre">Primer Nombre</label>
                  <input type="text" id="primer_nombre" name="primer_nombre" class="form-control" required>
                </div>
                <div class="col-lg-3">
                  <label for="segundo_nombre">Segundo Nombre</label>
                  <input type="text" id="segundo_nombre" name="segundo_nombre" class="form-control">
                </div>
                <div class="col-lg-3">
                  <label for="primer_apellido">Primer Apellido</label>
                  <input type="text" id="primer_apellido" name="primer_apellido" class="form-control" required>
                </div>
                <div class="col-lg-3">
                  <label for="segundo_apellido">Segundo Apellido</label>
                  <input type="text" id="segundo_apellido" name="segundo_apellido" class="form-control">
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-lg-3">
                  <label for="tipo_documento">Tipo Documento</label>
                  <select class="form-control" id="tipo_documento" name="tipo_documento">
                    <option value="CC">Cédula de Ciudadanía</option>
                    <option value="TI">Tarjeta de Identidad</option>
                    <option value="CE">Cédula de Extranjería</option>
                    <option value="PS">Pasaporte</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label for="numero_documento">Número de Documento</label>
                  <input type="text" id="numero_documento" name="numero_documento" class="form-control" required>
                </div>
                <div class="col-lg-3">
                  <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                  <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control" oninput="calcularEdad()" required>
                </div>
                <div class="col-lg-3">
                  <label for="edad">Edad</label>
                  <input type="number" id="edad" name="edad" class="form-control" readonly required>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-lg-3">
                  <label for="genero">Género</label>
                  <select class="form-control" id="genero" name="genero">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O">Otro</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="grupo_sanguineo">Grupo Sanguíneo</label>
                    <select class="form-control" id="grupo_sanguineo" name="grupo_sanguineo">
                      <option value="O+">O+</option>
                      <option value="O-">O-</option>
                      <option value="A+">A+</option>
                      <option value="A-">A-</option>
                      <option value="B+">B+</option>
                      <option value="B-">B-</option>
                      <option value="AB+">AB+</option>
                      <option value="AB-">AB-</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3">
                  <label for="correo">Correo Electrónico</label>
                  <input type="email" id="correo" name="correo" class="form-control" required>
                </div>
                <div class="col-lg-3">
                  <label for="celular">Celular</label>
                  <input type="text" id="celular" name="celular" class="form-control" required>
                </div>
              </div>
            </div>

            <hr class="my-4" />

            <!-- Información del Acompañante -->
            <h6 class="heading-small text-muted mb-4">Datos del Acompañante</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <label for="nombre_acompanante">Nombre Completo</label>
                  <input type="text" id="nombre_acompanante" name="nombre_acompanante" class="form-control">
                </div>
                <div class="col-lg-4">
                  <label for="relacion_acompanante">Relación con el Participante</label>
                  <input type="text" id="relacion_acompanante" name="relacion_acompanante" class="form-control">
                </div>
                <div class="col-lg-4">
                  <label for="correo_acompanante">Correo Electrónico</label>
                  <input type="email" id="correo_acompanante" name="correo_acompanante" class="form-control">
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-lg-4">
                  <label for="telefono_acompanante">Teléfono</label>
                  <input type="text" id="telefono_acompanante" name="telefono_acompanante" class="form-control">
                </div>
              </div>
            </div>

            <hr class="my-4" />

            <div class="text-right">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>

          </form>
        </div>
        <button type="button" class="btn btn-secondary" onclick="cerrarFormulario(this)">Cancelar</button>
      </div>
      
    </div>
  </div>
</div>
{% endblock content %}

<!-- Scripts -->
{% block javascripts %}
<script>

  function searchTable() {
   // Obtener el valor del campo de búsqueda
   const searchTerm = document.getElementById("searchPatient").value.toLowerCase();

   // Obtener todas las filas de la tabla (se debe apuntar a la tabla directamente)
   const table = document.querySelector("table");  // Selecciona la tabla de la página
   const rows = table.getElementsByTagName("tr");

   // Iterar sobre todas las filas (comenzando desde la fila 1 para omitir la cabecera)
   for (let i = 1; i < rows.length; i++) {  // Asegúrate de que empieces en la fila 1 para evitar la cabecera
     let row = rows[i];
     let cells = row.getElementsByTagName("td");

     let match = false;
     // Iterar sobre las celdas de la fila y comprobar si alguna contiene el término de búsqueda
     for (let j = 0; j < cells.length; j++) {
       let cell = cells[j];
       if (cell.innerText.toLowerCase().includes(searchTerm)) {
         match = true;  // Si hay coincidencia, mostrar la fila
         break;
       }
     }

     // Mostrar u ocultar la fila según si hay coincidencia
     row.style.display = match ? "" : "none";
   }
 }
</script>
{% endblock javascripts %}
