
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Registro de pacientes</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Formulario de Evaluación</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form method="POST" action="{% url 'registro_demografico' %}"">
                {% csrf_token %}
                <!-- Información Personal -->
                <h6 class="heading-small text-muted mb-4">Información Personal</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="nombres_apellidos">Nombres y Apellidos</label>
                        <input type="text" id="nombres_apellidos" name="nombres_apellidos" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="tipo_documento">Tipo Documento</label>
                        <select class="form-control" id="tipo_documento" name="tipo_documento">
                          <option value="CC">Cédula de Ciudadanía</option>
                          <option value="TI">Tarjeta de Identidad</option>
                          <option value="CE">Cédula de Extranjería</option>
                          <option value="PS">Pasaporte</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="numero_documento">Número de Documento</label>
                        <input type="text" id="numero_documento" name="numero_documento" class="form-control">
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="fecha_nacimiento">Fecha de Nacimiento</label>
                        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control" onchange="calcularEdad()">
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="edad">Edad</label>
                        <input type="number" id="edad" name="edad" class="form-control" readonly>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="estado_civil">Estado Civil</label>
                        <select class="form-control" id="estado_civil" name="estado_civil">
                          <option value="soltero">Soltero(a)</option>
                          <option value="casado">Casado(a)</option>
                          <option value="divorciado">Divorciado(a)</option>
                          <option value="viudo">Viudo(a)</option>
                          <option value="union_libre">Unión Libre</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="escolaridad">Escolaridad</label>
                        <select class="form-control" id="escolaridad" name="escolaridad">
                          <option value="primaria">Primaria</option>
                          <option value="secundaria">Secundaria</option>
                          <option value="tecnico">Técnico</option>
                          <option value="universitario">Universitario</option>
                          <option value="postgrado">Postgrado</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
    
                <hr class="my-4" />
    
                <!-- Información de Contacto -->
                <h6 class="heading-small text-muted mb-4">Información de Contacto y Adicional</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="ocupacion">Ocupación</label>
                        <input type="text" id="ocupacion" name="ocupacion" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="eps">EPS</label>
                        <input type="text" id="eps" name="eps" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="lateralidad">Lateralidad</label>
                        <select class="form-control" id="lateralidad" name="lateralidad">
                          <option value="diestro">Diestro</option>
                          <option value="zurdo">Zurdo</option>
                          <option value="ambidiestro">Ambidiestro</option>
                        </select>
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="direccion">Dirección</label>
                        <input type="text" id="direccion" name="direccion" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="telefono">Teléfono</label>
                        <input type="number" id="telefono" name="telefono" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="grupo_sanguineo">Grupo Sanguíneo</label>
                        <select class="form-control" id="grupo_sanguineo" name="grupo_sanguineo">
                          <option value="O+">O+</option>
                          <option value="O-">O-</option>
                          <option value="A+">A+</option>
                          <option value="A-">A-</option>
                          <option value="B+">B+</option>
                          <option value="B-">B-</option>
                          <option value="AB+">AB+</option>
                          <option value="AB-">AB-</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="religion">Religión</label>
                        <input type="text" id="religion" name="religion" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
    
                <hr class="my-4" />
              
                <div class="col-2 text-right">
                  <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
                </div>
                {% if messages %}
                  <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
                    <div style="position: absolute; top: 20px; right: 20px;">
                      {% for message in messages %}
                      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
                        <div class="toast-header">
                          {% if message.tags == 'success' %}
                          <span class="badge bg-success me-2">✔️</span>
                          {% elif message.tags == 'error' %}
                          <span class="badge bg-danger me-2">❌</span>
                          {% else %}
                          <span class="badge bg-info me-2">ℹ️</span>
                          {% endif %}
                          <strong class="me-auto">Notificación</strong>
                          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                          {{ message }}
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
              </form>
            </div>
            <button type="button" class="btn btn-secondary" onclick="cerrarFormulario(this)">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  function calcularEdad() {
    const fechaNacimiento = document.getElementById("fecha_nacimiento").value;
    if (fechaNacimiento) {
      const hoy = new Date();
      const nacimiento = new Date(fechaNacimiento);
      let edad = hoy.getFullYear() - nacimiento.getFullYear();
      const diferenciaMeses = hoy.getMonth() - nacimiento.getMonth();

      if (
        diferenciaMeses < 0 || 
        (diferenciaMeses === 0 && hoy.getDate() < nacimiento.getDate())
      ) {
        edad--;
      }

      document.getElementById("edad").value = edad;
    }
  }
</script>


<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

{% endblock javascripts %}
