{% extends 'layouts/base.html' %}

{% block content %}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-5">
                    <h6 class="h2 text-white d-inline-block mb-0">Información del Paciente</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/pacientes/">Pacientes</a></li>
                            <li class="breadcrumb-item"><a href="/pacientes/">Volver</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <form method="post" action="{% url 'guardar_examen_MEW' %}">
        {% csrf_token %}
        <input type="hidden" name="visita_id" id="visita_id" value="{{ visita_examen }}" />
        <input type="hidden" name="paciente_id" id="paciente_id" value="{{ paciente_id }}" />
        <input type="hidden" name="examen_id" id="examen_id" value="{{ examen_id }}" />
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Cuestionario de MEW (matutinidad, vespertinidad)</h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Si sólo pensaras en cuando te sentirías mejor y fueras totalmente
                                libre de planificarte el día. ¿A qué hora te levantarías?</label>
                            <select class="form-control" name="hora_levantarse_meq">
                                <option value="Entre las 05:00 (5 AM) y 06:30 (6:30 AM) de la mañana">Entre las 05:00 (5
                                    AM) y 06:30 (6:30 AM) de la mañana</option>
                                <option value="Entre las 06:30 (6:30 AM) y las 07:45 (7:45 AM) de la mañana">Entre las
                                    06:30 (6:30 AM) y las 07:45 (7:45 AM) de la mañana</option>
                                <option value="Entre las 07:45 (7:45 AM) y las 09:45 (9:45 AM) de la mañana">Entre las
                                    07:45 (7:45 AM) y las 09:45 (9:45 AM) de la mañana</option>
                                <option value="Entre las 09:45 (9:45 AM) y las 11:00 (11 AM) de la mañana">Entre las
                                    09:45 (9:45 AM) y las 11:00 (11 AM) de la mañana</option>
                                <option value="Entre las 11 (11 AM) de la mañana y las 12 de la tarde (12 noon)">Entre
                                    las 11 (11 AM) de la mañana y las 12 de la tarde (12 noon)
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Si sólo pensaras en cuando te sentirías mejor y fueras totalmente
                                libre de planificarte el día. ¿A qué hora te acostarías?</label>
                            <select class="form-control" name="hora_acostarse_meq">
                                <option value="A las 20:00 (8 PM) – 21:00 (9 PM)">A las 20:00 (8 PM) – 21:00 (9 PM)
                                </option>
                                <option value="A las 21:00 (9 PM) – 22:15 (10:15 PM)">A las 21:00 (9 PM) – 22:15 (10:15
                                    PM)</option>
                                <option value="A las 22:15 (10:15 PM) – 00:30 (12:30 AM)">A las 22:15 (10:15 PM) – 00:30
                                    (12:30 AM)</option>
                                <option value="A las 00:30 (12:30 AM) – 01:45 (1:45 AM)">A las 00:30 (12:30 AM) – 01:45
                                    (1:45 AM)</option>
                                <option value="A las 01:45 (1:45 AM) – 03:00 (3 AM)">A las 01:45 (1:45 AM) – 03:00 (3
                                    AM)</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Para levantarte por la mañana a una hora específica. ¿Hasta qué
                                punto necesitas que te avise el despertador?</label>
                            <select class="form-control" name="uso_despertador_meq">
                                <option value="No lo necesito">No lo necesito</option>
                                <option value="Lo necesito poco">Lo necesito poco</option>
                                <option value="Lo necesito bastante">Lo necesito bastante</option>
                                <option value="Lo necesito mucho">Lo necesito mucho</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">¿Te resulta fácil levantarte por las mañanas?</label>
                            <select class="form-control" name="facilidad_levantarse_meq">
                                <option value="Nada fácil">Nada fácil</option>
                                <option value="No muy fácil">No muy fácil</option>
                                <option value="Bastante fácil">Bastante fácil</option>
                                <option value="Muy fácil">Muy fácil</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Una vez levantado por las mañanas. ¿Qué tal te encuentras durante
                                la primera media hora?</label>
                            <select class="form-control" name="alerta_manana_meq">
                                <option value="Nada alerta">Nada alerta</option>
                                <option value="Poco alerta">Poco alerta</option>
                                <option value="Bastante alerta">Bastante alerta</option>
                                <option value="Muy alerta">Muy alerta</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Una vez levantado por las mañanas. ¿Cómo es tu apetito durante la
                                primera media hora?</label>
                            <select class="form-control" name="apetito_manana_meq">
                                <option value="Muy escaso">Muy escaso</option>
                                <option value="Bastante escaso">Bastante escaso</option>
                                <option value="Bastante bueno">Bastante bueno</option>
                                <option value="Muy bueno">Muy bueno</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Una vez levantado por las mañanas. ¿Qué tal te sientes durante la
                                primera media hora?</label>
                            <select class="form-control" name="descanso_manana_meq">
                                <option value="Muy cansado">Muy cansado</option>
                                <option value="Bastante cansado">Bastante cansado</option>
                                <option value="Bastante descansado">Bastante descansado</option>
                                <option value="Muy descansado">Muy descansado</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Cuando no tienes compromisos al día siguiente. ¿A qué hora te
                                acuestas en relación con tu hora habitual?</label>
                            <select class="form-control" name="hora_acostarse_libre_meq">
                                <option value="Nunca o raramente o más tarde">Nunca o raramente o más tarde</option>
                                <option value="Menos de 1 hora más tarde">Menos de 1 hora más tarde</option>
                                <option value="De 1 a 2 horas más tarde">De 1 a 2 horas más tarde</option>
                                <option value="Más de 2 horas más tarde">Más de 2 horas más tarde</option>
                            </select>
                        </div>


                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Has decidido hacer un poco de ejercicio físico. Un amigo te
                                    propone hacerlo una hora dos veces por
                                    semana y según él, la mejor hora sería de 7 a 8 de la mañana. No teniendo nada más
                                    encuenta salvo
                                    tu propio reloj “interno”</h5>
                                <p class="card-text">¿Cómo crees que te encontrarías?</p>
                                <select class="form-control" name="ejercicio_fisico_meq">
                                    <option value="Estaría en buena forma">Estaría en buena forma</option>
                                    <option value="Estaría en una forma aceptable">Estaría en una forma aceptable
                                    </option>
                                    <option value="Me resultaría difícil">Me resultaría difícil</option>
                                    <option value="Me resultaría muy difícil">Me resultaría muy difícil</option>
                                </select>
                            </div>
                        </div>

                        <!-- Pregunta 2 -->
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Has decidido hacer un poco de ejercicio físico...</h5>
                                <h5 class="card-title">¿A qué hora aproximada de la noche te sientes cansado y como
                                    consecuencia necesitas dormir?</h5>
                                <select class="form-control" name="hora_cansancio_noche_meq">
                                    <option value="20:00 - 21:00">20:00 - 21:00</option>
                                    <option value="21:00 - 22:15">21:00 - 22:15</option>
                                    <option value="22:15 - 00:45">22:15 - 00:45</option>
                                    <option value="00:45 - 02:00">00:45 - 02:00</option>
                                    <option value="02:00 - 03:00">02:00 - 03:00</option>
                                </select>
                            </div>
                        </div>

                        <!-- Pregunta 3 -->
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Quieres estar en tu punto máximo de rendimiento para una prueba
                                    de dos horas que va a ser
                                    mentalmente agotadora. Siendo totalmente libre de planificar el día y pensando sólo
                                    en cuando te
                                    sentirías mejor. ¿Qué horario elegirías?</h5>
                                <select class="form-control" name="horario_prueba_mental_meq">
                                    <option value="08:00 - 10:00">08:00 - 10:00</option>
                                    <option value="11:00 - 13:00">11:00 - 13:00</option>
                                    <option value="13:00 - 17:00">13:00 - 17:00</option>
                                    <option value="19:00 - 21:00">19:00 - 21:00</option>
                                </select>
                            </div>
                        </div>

                        <!-- Pregunta 4 -->
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Si te acostaras a las 11 PM, ¿qué nivel de cansancio notarías?
                                </h5>
                                <select class="form-control" name="nivel_cansancia_11">
                                    <option value="Ningún cansancio">Ningún cansancio</option>
                                    <option value="Algún cansancio">Algún cansancio</option>
                                    <option value="Bastante cansancio">Bastante cansancio</option>
                                    <option value="Mucho cansancio">Mucho cansancio</option>
                                </select>
                            </div>
                        </div>

                        <!-- Pregunta 5 -->
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Por algún motivo te has acostado varias horas más tarde de lo
                                    habitual, aunque al día siguiente no has
                                    de levantarte a ninguna hora en particular. ¿Cuando crees que te despertarías?</h5>
                                <select class="form-control" name="hora_despertarse_si_tarde">
                                    <option value="A la hora habitual y ya no dormiría más">A la hora habitual y ya no
                                        dormiría más</option>
                                    <option value="A la hora habitual y dormiría un poco má">A la hora habitual y
                                        dormiría un poco más</option>
                                    <option value="Me despertaría más tarde de lo habitual">Me despertaría más tarde de
                                        lo habitual</option>
                                    <option value="Dormiría mucho más de lo habitual">Dormiría mucho más de lo habitual
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Una noche tienes que permanecer despierto de 4 a 6 de la madrugada
                                debido a una guardia nocturna. Sin tener ningún compromiso al día siguiente, ¿qué
                                preferirías?</label>
                            <select class="form-control" name="guardia_nocturna">
                                <option value="No acostarme hasta pasada la guardia">No acostarme hasta pasada la
                                    guardia</option>
                                <option value="Echar una siesta antes y dormir después">Echar una siesta antes y dormir
                                    después</option>
                                <option value="Echar un buen sueño antes y una siesta después">Echar un buen sueño antes
                                    y una siesta después</option>
                                <option value="Sólo dormirías antes de la guardia">Sólo dormirías antes de la guardia
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Tienes que hacer dos horas de trabajo físico pesado. Eres
                                totalmente libre para planificarte el día. Pensando sólo en cuando te sentirías mejor,
                                ¿qué horario escogerías?</label>
                            <select class="form-control" name="horario_trabajo_fisico">
                                <option value="De 08:00 (8 AM) a 10:00 (10 AM)">De 08:00 (8 AM) a 10:00 (10 AM)</option>
                                <option value="De 11:00 (11 AM) a 13:00 (1 PM)">De 11:00 (11 AM) a 13:00 (1 PM)</option>
                                <option value="De 13:00 (1 PM) a 17:00 (5 PM)">De 13:00 (1 PM) a 17:00 (5 PM)</option>
                                <option value="De 19:00 (7 PM) a 21:00 (9 PM)">De 19:00 (7 PM) a 21:00 (9 PM)</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Has decidido hacer ejercicio físico intenso. Un amigo te sugiere
                                practicar una hora dos veces por semana de 10 a 11 de la noche. Pensando sólo en cuando
                                te sentirías mejor, ¿Cómo crees que te sentaría?</label>
                            <select class="form-control" name="ejercicio_nocturno">
                                <option value="Estaría en buena forma">Estaría en buena forma</option>
                                <option value="Estaría en una forma aceptable">Estaría en una forma aceptable</option>
                                <option value="Me resultaría difícil">Me resultaría difícil</option>
                                <option value="Me resultaría muy difícil">Me resultaría muy difícil</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Imagínate que puedes escoger tu horario de trabajo. Supón que tu
                                jornada es de CINCO horas al día (incluyendo los descansos) y que tu actividad es
                                interesante y remunerada según tu rendimiento. ¿Qué CINCO HORAS CONSECUTIVAS
                                seleccionarías? ¿Empezando en qué hora?</label>
                            <select class="form-control" name="horario_trabajo">
                                <option value="Entre las 04:00 (4 AM) y las 08:00 (8 AM)">Entre las 04:00 (4 AM) y las
                                    08:00 (8 AM)</option>
                                <option value="Entre las 08:00 (8 AM) y las 09:00 (9 AM)">Entre las 08:00 (8 AM) y las
                                    09:00 (9 AM)</option>
                                <option value="Entre las 09:00 (9 AM) y las 14:00 (2 PM)">Entre las 09:00 (9 AM) y las
                                    14:00 (2 PM)</option>
                                <option value="Entre las 14:00 (2 PM) y las 17:00 (5 PM)">Entre las 14:00 (2 PM) y las
                                    17:00 (5 PM)</option>
                                <option value="Entre las 17:00 (5 PM) y las 04:00 (4 AM)">Entre las 17:00 (5 PM) y las
                                    04:00 (4 AM)</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">¿A qué hora del día crees que alcanzas tu máximo
                                bienestar?</label>
                            <select class="form-control" name="maximo_bienestar">
                                <option value="Entre las 05:00 (5 AM) y las 08:00 (8 AM)">Entre las 05:00 (5 AM) y las
                                    08:00 (8 AM)</option>
                                <option value="Entre las 08:00 (8 AM) y las 10:00 (10 AM)">Entre las 08:00 (8 AM) y las
                                    10:00 (10 AM)</option>
                                <option value="Entre las 10:00 (10 AM) y las 17:00 (5 PM)">Entre las 10:00 (10 AM) y las
                                    17:00 (5 PM)</option>
                                <option value="Entre las 17:00 (5 PM) y las 22:00 (10 PM)">Entre las 17:00 (5 PM) y las
                                    22:00 (10 PM)</option>
                                <option value="Entre las 22:00 (10 PM) y las 05:00 (5 AM)">Entre las 22:00 (10 PM) y las
                                    05:00 (5 AM)</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Se habla de personas de tipo matutino y vespertino. ¿Cuál de estos
                                tipos te consideras ser?</label>
                            <select class="form-control" name="tipo_persona">
                                <option value="Un tipo claramente matutino">Un tipo claramente matutino</option>
                                <option value="Un tipo más matutino que vespertino">Un tipo más matutino que vespertino
                                </option>
                                <option value="Un tipo más vespertino que matutino">Un tipo más vespertino que matutino
                                </option>
                                <option value="Un tipo claramente vespertino">Un tipo claramente vespertino</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Puntuación</label>
                            <input type="text" class="form-control" name="puntuacion">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-right">
                <button type="submit" class="btn btn-primary">Guardar Examen</button>
                <a href="{% url 'detalle_paciente'  paciente_id %}" class="btn btn-primary">
                    Ver Paciente
                </a>
            </div>
        </div>
    </form>
</div>

<script>

</script>
{% endblock %}