# Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo

# Entorno virtual
venv/
env/
.venv

# Configuración de IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Configuración de sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs y dumps
logs/
*.log
*.out
*.err
*.sqlite3


# Configuración de base de datos local
db
